.main {
  margin: 0 auto;
  padding-top: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  margin: 0;
  padding: 0;
  margin-top: 48px;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  color: #306ef7;
}

.subCaption {
  margin: 0;
  padding: 0;
  width: 938px;
  text-align: center;
  font-size: 75px;
  font-style: normal;
  font-weight: 600;
  line-height: 112px;
}

.description {
  margin: 0;
  padding: 0;
  margin-top: -20px;
  width: 994px;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
}
